[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyter = "*"
pandas = "*"
sodapy = "*"
cannapy = {git = "https://github.com/CannabisData/cannapy.git"}
plotly = "*"
matplotlib = "*"


[dev-packages]



[requires]

python_version = "3.6"
